<template>
  <!--<img alt="Vue logo" src="../assets/logo.png">-->
  <ToolbarTabs :Toolbardata="ToolbarData">
    <v-tab-item value="tab-0">
      <v-row class="hidden-input-border" id="tab-description">
        <v-col cols="12">
          <v-text-field autofocus placeholder="Title" dense></v-text-field>
        </v-col>
        <v-col cols="12" class="mt-n12">
          <v-textarea placeholder="My note ..." :auto-grow="true"></v-textarea>
        </v-col>
      </v-row>
    </v-tab-item>

    <v-tab-item value="tab-1">
      <v-row class="hidden-input-border" id="tab-info">
        <v-col cols="10">
          <v-text-field autofocus prepend-icon="fal fa-map-marker-alt" placeholder="Place" dense></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-icon
            size="30"
            @click="Info.favorite ? Info.favorite = false : Info.favorite = true"
            :class="(Info.favorite ? 'bg-star fas' : 'fal') + ' fa-star'"
          ></v-icon>
        </v-col>
        <v-col cols="12" class="mt-n11">
          <DatePicker />
        </v-col>
        <v-col cols="12" class="mt-n11">
          <HourPicker />
        </v-col>
      </v-row>
    </v-tab-item>

    <v-tab-item value="tab-2">
      <v-row class="hidden-input-border" id="tab-category">
        <v-layout class="ma-0 pa-0">
          <v-btn class="ma-2 btn-category" outlined :rounded="true">Outlined Button</v-btn>
        </v-layout>
        <BottomNav />
      </v-row>
    </v-tab-item>

    <v-tab-item value="tab-3" class="fill-height">
      <v-row id="tab-image" align="center" justify="center">
        <EmptyState />
      </v-row>
    </v-tab-item>
  </ToolbarTabs>
</template>

<script>
// @ is an alias to /src
import ToolbarTabs from "@/components/ToolbarTabs.vue";
import DatePicker from "@/components/forms/Date.vue";
import HourPicker from "@/components/forms/Hour.vue";
import BottomNav from "@/components/BottomNav.vue";
import EmptyState from "@/components/forms/EmptyState.vue";

export default {
  components: {
    ToolbarTabs,
    DatePicker,
    HourPicker,
    BottomNav,
    EmptyState
  },
  data() {
    return {
      ToolbarData: {
        title: "New Note",
        backIcon: "fal fa-arrow-left",
        actionButtons: ["fal fa-check"],
        tabMenu: null,
        tabs: [
          {
            name: "Description",
            search: false
          },
          {
            name: "Info",
            search: false
          },
          {
            name: "Category",
            search: true
          },
          {
            name: "Image",
            search: false
          },
          {
            name: "Audio",
            search: false
          },
          {
            name: "Drawing",
            search: false
          }
        ]
      },
      Info: {
        favorite: false,
        iconFavorite: "fal fa-star"
      }
    };
  },
  methods: {}
};
</script>

<style>
.hidden-input-border .v-text-field > .v-input__control > .v-input__slot:before {
  border-style: none;
}
.hidden-input-border .v-text-field > .v-input__control > .v-input__slot:after {
  border-style: none;
}
.v-tabs-items .bg-star {
  color: yellow !important;
}
.v-tabs-items input,
.v-tabs-items select,
.v-tabs-items textarea,
.v-tabs-items i {
  font-size: 1.25rem;
  line-height: 1.65rem !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}

.btn-category {
  color: #36b1fd !important;
  border-color: #36b1fd !important;
  text-transform: none;
  border-width: 2px;
}
</style>