<template>
  <v-bottom-navigation class="botton-nav" v-model="currentTab" :fixed="true" grow dark>
    <v-btn v-for="(menu, n) in menus" :key="n" :value="menu.label">
      <span>{{ menu.label }}</span>
      <v-badge>
        <template v-slot:badge>{{ menu.total }}</template>
        <v-icon color="white">{{ (currentTab == menu.label ? 'fas ' : 'fal ') + menu.icon }}</v-icon>
      </v-badge>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
export default {
  data() {
    return {
      activeBtn: 1,
      showNav: true,
      currentTab: "Tags",
      menus: [
        {
          label: "Tags",
          icon: "fa-tags",
          total: "15",
        },
        {
          label: "People",
          icon: "fa-user-friends",
          total: "2",
        },
        {
          label: "Emotion",
          icon: "fa-laugh",
          total: "0",
        }
      ]
    };
  },
  methods: {
    teste() {
      /* eslint-disable no-console */
      console.log(this.$router.currentRoute);
    }
  }
};
</script>

<style>
.botton-nav {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: linear-gradient(to bottom, #996bd0, #6712cc);
}
.v-badge__badge {
    top: -1px;
}
.botton-nav .v-badge__badge.primary {
    background-color: white !important;
    color: #6712cc;
}
</style>