<template>
  <v-container fluid class="pa-0">
    <div class="fc-toolbar">
      <v-toolbar color="transparent" :flat="true" dense dark>
        <v-btn icon>
          <v-icon>{{ Toolbardata.backIcon }}</v-icon>
        </v-btn>
        <v-toolbar-title>{{ Toolbardata.title }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon v-for="(action,n) in Toolbardata.actionButtons" :key="n">
          <v-icon>{{ action }}</v-icon>
        </v-btn>
      </v-toolbar>
      <v-tabs
        background-color="transparent"
        class="fc-toolbar-tabs"
        dense
        next-icon="fal fa-chevron-right"
        prev-icon="fal fa-chevron-left"
        show-arrows
        dark
        v-model="Toolbardata.tabMenu"
      >
        <v-tabs-slider></v-tabs-slider>
        <v-tab
          v-for="(tab, key) in Toolbardata.tabs"
          :key="key"
          v-text="tab.name"
          :href="'#tab-' + key"
          @click="tab.search ? showsearch = true : showsearch = false"
        ></v-tab>
      </v-tabs>
      <v-scroll-y-transition>
        <v-text-field
          v-if="showsearch"
          class="pb-2 mx-4 search-bar"
          id="search-bar"
          solo
          placeholder="Search or add ..."
          prepend-inner-icon="fal fa-search"
          append-icon="fal fa-plus"
          dense
        ></v-text-field>
      </v-scroll-y-transition>
    </div>
    <v-container fluid>
      <v-tabs-items v-model="Toolbardata.tabMenu" color="#fafafa">
        <slot></slot>
      </v-tabs-items>
    </v-container>
  </v-container>
</template>

<script>
export default {
  name: "ToolbarTabs",
  props: {
    Toolbardata: Object
  },
  data() {
    return {
      showsearch: false
    };
  },
  methods: {
    bindSearch(showBar) {
      alert(showBar);
      showBar ? (this.showsearch = true) : (this.showsearch = false);
      return showBar ? "" : "ok";
    }
  }
};
</script>


<style>
.fc-toolbar {
  background-color: #6712cc;
  background-image: linear-gradient(to top, #996bd0, #6712cc);
  border-bottom-left-radius: 20px;
}
.fc-toolbar-tabs > .v-tabs-bar {
  height: 35px;
  margin: 1vh 0;
  padding-bottom: 1vh;
}
.fc-toolbar-tabs .v-tab--active {
  border-radius: 20px;
  background-image: linear-gradient(to right, #019bfa, #36b1fd);
}
.fc-toolbar-tabs .v-tabs-slider-wrapper {
  display: none;
}
.theme--dark.v-icon--disabled {
  display: none !important;
}
.theme--light.v-tabs-items {
  background-color: #fafafa;
}
.search-bar ::placeholder {
  font-size: 1rem !important;
}
.search-bar {
  border-radius: 20px;
}
#search-bar {
  color: #1976d2;
}
.search-bar i {
  color: #6712cc !important;
}
.search-bar .v-text-field__details {
  display: none !important;
}
.v-tab:before {
  background-color: transparent;
}
</style>