<template>
  <v-dialog ref="modalDate" v-model="modelDate" :return-value.sync="date" persistent>
    <template v-slot:activator="{ on }">
      <v-text-field
        color="rgba(0, 0, 0, 0.5)"
        v-model="date"
        prepend-icon="fal fa-calendar-alt"
        v-on="on"
      ></v-text-field>
    </template>
    <v-date-picker
      v-model="date"
      scrollable
      prev-icon="fal fa-chevron-left"
      next-icon="fal fa-chevron-right"
      class="theme-bg"
    >
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="modelDate = false">Cancel</v-btn>
      <v-btn text color="primary" @click="$refs.modalDate.save(date)">OK</v-btn>
    </v-date-picker>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      date: new Date().toISOString().substr(0, 10),
      modelDate: false,
    };
  }
};
</script>

<style>
.theme-bg .v-picker__title {
  background-image: linear-gradient(to top, #019bfa, #36b1fd);
}
.theme--light.v-picker__body {
  width: 95% !important;
}
.v-date-picker-table .v-btn.v-btn--active {
  background-image: linear-gradient(to right, #019bfa, #36b1fd);
}
</style>