<template>
  <v-dialog ref="dialogTimer" v-model="modalTimer" :return-value.sync="time" persistent>
    <template v-slot:activator="{ on }">
      <v-text-field v-model="time" prepend-icon="fal fa-clock" v-on="on"></v-text-field>
    </template>
    <v-time-picker v-if="modalTimer" v-model="time" full-width>
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="modalTimer = false">Cancel</v-btn>
      <v-btn text color="primary" @click="$refs.dialogTimer.save(time)">OK</v-btn>
    </v-time-picker>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      modalTimer: false,
      time: null
    };
  },
  mounted: function() {
    this.$nextTick(function() {
      const currentDate = new Date();
      this.time = currentDate.getHours() + ":" + (currentDate.getMinutes()<10?'0':'') + currentDate.getMinutes();
    });
  }
};
</script>

<style>
.v-picker__title.primary {
    background-image: linear-gradient(to top, #019bfa, #36b1fd);
}
span.v-time-picker-clock__item.v-time-picker-clock__item--active.accent {
    background-image: linear-gradient(to top, #019bfa, #36b1fd);
}
</style>